

.middle{
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mouse{
  width: 40px;
  height: 75px;
  border: 1.5px solid White;
  border-radius: 47px;
}

.mouse::before{
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top:30px;
  background: White;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  opacity: 1;
  animation: mouse 2s infinite;
}

@keyframes mouse {

  from{
    opacity: 1;
    top: 13px;
  }

  to{
    opacity: 0;
    top: 60px;
  }

}
